---
import { formatDate } from "../utils/formatDate";

interface Props {
  post: any;
}

const { post } = Astro.props;
---

<div class="lg:flex">
  <img
    class="object-cover w-full h-56 rounded-lg lg:w-64"
    src={post.frontmatter.image}
    alt={post.frontmatter.title}
  />

  <div class="flex flex-col justify-between py-6 lg:mx-6 text-white">
    <a href={post.url} class="text-xl font-semibold hover:underline">
      {post.frontmatter.title}
    </a>

    <p>{post.frontmatter.description}</p>

    <span class="text-sm">{formatDate(post.frontmatter.date)}</span>
  </div>
</div>
